.gestioninsuffisance {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 10%;
    padding-bottom: 5%;
}


.gestioninsuffisance .ligne {
    background-color: #f0f0f0;

}

.gestioninsuffisance .ligne img {
    height: 100%;
}

.gestioninsuffisance .ligne1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ccc;
}

.gestioninsuffisance .image-container {
    background-color: rgba(250, 250, 250, 1);
    position: relative;
    /* Assurez-vous d'ajouter cette ligne */
    height: 100%;
    /* Ajoutez une hauteur de 100% pour occuper l'espace */
}

.gestioninsuffisance .image-container img {
    width: 100%;
    /* Utilisez width au lieu de height pour ajuster l'image */
    height: auto;
    /* Ajustez la hauteur de manière proportionnelle */
    display: block;
}

.gestioninsuffisance .image-container .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    /* Ajustez la largeur pour s'adapter à l'écran */
    text-align: center;
    /* Centrez le texte horizontalement */
    color: black;
}

.gestioninsuffisance .image-text h2 {
    font-size: 3vw;
    /* Utilisation de l'unité vw pour la taille du texte */
    margin-bottom: 5px;
    text-align: center;
    color: black;
    letter-spacing: 0.15em;
}

.gestioninsuffisance .image-text p {
    font-size: 1.5vw;
    /* Utilisation de l'unité vw pour la taille du texte */
    margin-bottom: 5px;
    text-align: center;
    color: black;
    letter-spacing: 0.15em;
}

.gestioninsuffisance .two-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0;
    padding-top: 50px;
}

.gestioninsuffisance .rectangle-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 10px;
    align-items: flex-end;
}


.gestioninsuffisance .rectangle-content .square {
    background-color: rgba(196, 48, 107, 1);
}

.gestioninsuffisance .rectangle-content .square h3 {
    margin-top: 0;
    color: white;
}

.gestioninsuffisance .rectangle-content .square p {
    margin: 10px 0;
    color: white;
}

.gestioninsuffisance .rectangle-content .square button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.gestioninsuffisance .section {
    background-color: #f0f0f0;
    padding: 10px;
}

.gestioninsuffisance .section h3 {
    margin-top: 0;
}

.gestioninsuffisance .section p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .gestioninsuffisance {
        padding-top: 0;
    }
    .gestioninsuffisance .ligne1 {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .gestioninsuffisance img{
        width: 100%;
        height: 100%;
    }
    .gestioninsuffisance .two-block {
        padding: 0;
    }

    .gestioninsuffisance .image-container {
        height: 210px;
    }

    .gestioninsuffisance .two-block .rectangle-content {
        grid-template-columns: 1fr;
        /* Mettre en colonne pour les appareils mobiles */
        width: 100%;

    }

    .gestioninsuffisance .rectangle-content .square {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}