.main-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}

.main-menu a {
    text-decoration: none;
    color: #000;
}

.main-menu a:visited {
    text-decoration: none;
    color: #000;
}


.main-menu .sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    white-space: nowrap;

}



.main-menu li:hover .sub-menu {
    display: block;
}

.main-menu li {
    position: relative;

    padding: 5px;

}

.sub-menu a {
    color: #000;
    text-decoration: none;
}

@media (max-width: 768px) {
    .main-menu {
        display: none;
    }
}