.foot {
    display: flex; /* Utilise Flexbox pour centrer le contenu */
    flex-direction: column; /* Place les éléments en colonne */
    width: 100%;
    margin-left:40%;
}

.foot h1{
    font-family: poppins-semibold,poppins,sans-serif;
    margin: 0;
}

.foot p{
    margin:5px;
}

.link-hp{
    text-decoration: none;
    
  }
  
.social-icons a img {
width: 30px; /* Ajustez la taille des icônes selon vos préférences */
height: 30px;
}

a:link,
a:visited {
  color: #000; /* Couleur des liens non visités et visités (bleu dans cet exemple) */
  
}

a:hover,
a:active {
  color: #000; /* Couleur des liens survolés et actifs (rouge dans cet exemple) */
}
  
.footer-link{
    padding-top: 10px;
    font-weight: normal;
    
}

.bold{
    font-weight: bolder;
    text-decoration: underline;
}

.extra-link{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}