.form-container {
    padding-top: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.title-page{
    text-align: center;
}
.group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .form-container {
        padding-top: calc(300px);
        margin-bottom: 20%;
    }

    .group {
        margin-bottom: 10px;
    }
}